@{ Layout = "_LayoutAdmin"; }
@model List<Category>
<section>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Таблица редактирования категорий на <a href="">Corall Jewelry</a></h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            @*  <li><a data-action="collapse"><i class="ft-minus"></i></a></li>*@
                            @*<li><a data-action="reload" href="/Admin/Contacts"><i class="ft-rotate-cw"></i></a></li>*@
                            @*<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>*@
                        </ul>
                    </div>
                </div>

                <div class="card-content collapse show">
                    <div class="card-body">
                        <p>Добавить новую категорию в каталог</p>
                    </div>
                    <div class="table-responsive">
                        <form action="/Admin/AddCategory" method="post">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Название</th>
                                        <th scope="col">Действие</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="hidden" name="id" class="form-control" value="@ViewData["idCatalog"]" />
                                        <input type="text" name="name" class="form-control" value="" /></td>
                                        <td>
                                            <button name="action" value="add" type="submit" class="btn btn-icon btn-success mr-1"><i class="ft-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="card-content collapse show">
                    <div class="card-body">
                        <p><h3>Категории каталога Corall Jewelry</h3></p>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Название</th>
                                    <th scope="col">Действие</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model.Count; j++)
                                {
                                    <form action="/Admin/RemoveCategory" method="post">
                                        <tr>

                                            <td><a href="/Admin/Items/?id=@ViewData["idCatalog"]&name=@Model[j].Name" name="name" class="form-control btn btn-icon btn-danger mr-1" value="">@Model[j].Name</a></td>
                                            <td>
                                                <input type="hidden" name="id" class="form-control" value="@ViewData["idCatalog"]" />
                                                <input type="hidden" name="idcateg" class="form-control" value="@Model[j].Id" />

                                                <button name="action" value="delete" type="submit" class="btn btn-icon btn-danger mr-1"><i class="ft-delete"></i></button>
                                            </td>
                                        </tr>

                                    </form>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>