@-moz-document url-prefix() {
  textarea {
      height: calc(1em * 1.5 * 3);
  }
}
.wall {
    background-image: url('../files/background.jpg');
    height: auto;
    background-size: cover;
}
.max-height {
 height: 900px;
}
.pulse-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color:white;
    background: rgb(73, 73, 73);
    border-radius: 50%;
    animation: radial-pulse 2s infinite;
  }
  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(172, 172, 172, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 20px rgba(172, 172, 172, 0);
    }
  }
  .height_max{
    height: 100%;
  }
  .height_min{
    height: 0px;
  }
  .pulse-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color:white;
    background: rgb(73, 73, 73);
    border-radius: 50%;
    animation: radial-pulse2 2s infinite;
  }
  @keyframes radial-pulse2 {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 255, 42, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 20px rgba(0, 255, 42, 0);
    }
  }
  .map-point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }

.shadow-1dp {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}
.shadow-2dp {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
}
.shadow-hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
}
.shadow-hover:hover {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.20);
}
.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
}
.shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.20);
}
.shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.20);
}