<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Контакты Corall Jewelry</h2>
        </div>
        <div class="row mb-5 ml-5 justify-content-start text-center">
            <p class="ml-5" style="font-size: 20px;">В данном разделе вы можете связаться с нами через форму обратной связи, узнать где мы находимся, наши контакты, написать нам в <strong><i>чат</i></strong>.<br><br><strong><i> Мы онлайн всегда!</i></strong></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl">
                <div class="row">
                    <div class="container-fluid">
                        <div class="row ml-5 pt-5  justify-content-center">
                            <i class="fa fa-building"></i>
                            <a style="margin-left: 10px;"> Город: Оренбург</a>
                        </div>
                        <div class="row ml-5 mt-2 pt-3 justify-content-center">
                            <i class="fa fa-street-view"></i>
                            <a style="margin-left: 10px;"> Улица: Ленинская 61</a>
                        </div>
                        <div class="row ml-5 mt-2 pt-3   justify-content-center">
                            <i class="fa fa-clock-o"></i>
                            <a style="margin-left: 10px;"> Без выходных с 10:00 до 20:00</a>
                        </div>
                        <div class="row ml-5 mt-2  pt-3  justify-content-center">
                            <i class="fa fa-envelope-open"></i>
                            <a style="margin-left: 10px;">  korallJewelry@yandex.ru</a>
                        </div>
                        <div class="row ml-5 mt-2  pt-3  justify-content-center">
                            <i class="fa fa-phone"></i>
                            <a style="margin-left: 10px;"> 8 (901) 098-43-97</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="row justify-content-center align-items-center">
                    <div class="container-fluid">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">
                                    <i class="fa fa-envelope"></i>&nbsp/&nbsp<i class="fa fa-phone mr-3"></i>Ваш контакт для связи
                                </label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com / 0-(000)-000-00-00">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">   <i class="fa fa-question"></i>&nbsp/&nbsp<i class="fa fa-diamond mr-3"></i>Ваш вопрос или заказ</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block" style="background-color: #c33; border: #c33;">Отправить заявку</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </div>
</section>