
<section class="">
    <div class="row align-items-center mt-5 justify-content-center text-center">
        <h2>Цены Corall Jewelry</h2>
    </div>
    <div class="row align-items-center mt-2 justify-content-center text-center">
        <h5>
            Ознакомьтесь с ценами ювелирной мастерской Corall Jewelry <br>  на ремонт и изготовление ювелирных украшений - изделий.
        </h5>
    </div>
    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Ремонт цепей и браслетов</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Ремонт колец</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Ремонт серег</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Другие виды работ</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Гравировка</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Золочение и эмаль</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Изготовление колец</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Изготовление серег</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Изготовление подвесок , крестов , колье и других изделий</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-start mt-5 align-items-center pr-5 pl-5">
        <h4 style="color: #c33;">Изготовление цепей и браслетов ручного плетения</h4>
    </div>
    <div class="row justify-content-center mt-2 align-items-center pr-5 pl-5">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Виды работ</th>
                    <th scope="col">Металл</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>