@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <script src="//code.jivo.ru/widget/vAnyCvQtOG" async></script>
</head>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
