<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Услуги Corall Jewelry</h2>
        </div>
        <div class="row">
            <div class="col-xl">
                <div class="container-circle cc-first">
                    <a class="circle" style="background-image: url('images/productionjewelry-bghover.png');"></a>
                    <a class="circle-header mt-2"><strong><i>Изготовление ювелирных изделий </i></strong></a>
                </div>
                <div class="container-circle cc-first-second">
                    <a class="circle" style="background-image: url('images/productioncopies-bghover.png');"></a>
                    <a class="circle-header mt-2"><strong><i>Изготовление копии<br>ювелирных изделий </i></strong></a>
                </div>
            </div>
            <div class="col-xl">
                <div class="row">
                    <div class="col-xl container-circle">
                        <a class="circle" style="background-image: url('images/jewelerstones-bghover.png');"></a>
                        <a class="circle-header mt-2"><strong><i>Закрепка камней</i></strong></a>
                    </div>
                    <div class="col-xl container-circle">
                        <a class="circle" style="background-image: url('images/repairbeads-bghover.png');"></a>
                        <a class="circle-header mt-2"><strong><i>Ремонт бус </i></strong></a>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center" style="margin-top: 15%;">
                    <img src="images/upBorder.png" />
                    <div class="text-center cc-text-center">
                        Одни из самых низких цен в Оренбурге
                        на ремонт и изготовление украшений!
                        И это не просто слова!
                    </div>
                    <img src="images/downBorder.png" />
                </div>
                <div class="container-circle cc-second-third">
                    <a class="circle" style="background-image: url('images/chains-bghover.png');"></a>
                    <a class="circle-header mt-2"><strong><i>Цепи и браслеты ручного плетения </i></strong></a>
                </div>
            </div>
            <div class="col-xl">
                <div class="container-circle cc-third-first">
                    <a class="circle" style="background-image: url('images/cleaningjewelry-bghover.png');"></a>
                    <a class="circle-header mt-2"><strong><i>Чистка ювелирных изделий </i></strong></a>
                </div>
                <div class="container-circle cc-third-second">
                    <a class="circle" style="background-image: url('images/repairjewelry-bghover.png');"></a>
                    <a class="circle-header mt-2"><strong><i>Ремонт ювелирных изделий </i></strong></a>
                </div>
            </div>
        </div>
    </div>
</section>
