<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>3D модели и ЧПУ фрезеровка</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    🎈Мы занимаемся 3D моделированием ювелирных изделий больше 7 лет.⠀
                    ⠀<br><br>
                    🎈С помощью 3D-технологий можно воплотить в изделие любой, даже самый сложный дизайн❗⠀
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images_service/4PUH77ygkF8.jpg" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    🎈 Преимущества 3D моделирования:⠀
                    <br>▪моделирование даёт точные симметричные линии;⠀
                    ⠀<br><br>
                    ▪3D модель можно быстро доработать или переделать;⠀
                    ⠀<br><br>
                    ▪На основе одного изделия, можно быстро построить модельный ряд;⠀
                    ⠀<br><br>
                    ▪Точное проектирование по размерам эскиза. Так же может использоваться, картинка, фотография, рисунок и т.д. с основными размерами, остальное будет создаваться по пропорциям;⠀
                    ⠀<br><br>
                    ▪Расчёт веса будущего изделия, а также вес и количество камней, что тоже немаловажно для составления стоимости иделия;⠀
                    ⠀<br><br>
                    ▪Модель строится с учётом всей специфики ювелирных технологий, таких как высота крапанов, глубина посадочных мест, последующая усадка по воску и металлу.⠀
                    ⠀<br><br>
                    ▪Благодаря визуализации, можно на мониторе посмотреть не только построенную модель, но и как она будет выглядеть с установленными камнями и "настоящим" цветом металла;⠀
                    ⠀<br><br>
                    🎈Другими словами, при помощи 3D моделирования мы можем создать ювелирные изделия любой сложности.⠀
                    <br>🎈С появлением технологий дизайна и создания ювелирных изделий с помощью компьютера, наша ювелирная мастерская «Коралл» оказывает все услуги по созданию 3D моделей ювелирных изделий.⠀
                    <br> 🎈Наличие новейших инструментов в сочетании с опытом нашего мастера помогает нам добиваться высокого качества исполнения заказов любой сложности.⠀
                    <br>🎈По Вашему заказу мы можем изготовить практически любое ювелирное изделие.⠀
                    <br>🎈Каким бы сложным ни был Ваш эскиз, наш мастер в точности повторит его, создав для вас уникальную, неповторимую вещь. 🎈Мы можем изготовить все – будь то разнообразные обручальные кольца и серьги до предметов эзотерического назначения.⠀
                    <br>🎈Перед началом работы наш мастер обсудит с Вами все детали вашего заказа и выполнит изделие в точном соответствии с Вашим эскизом (наброском, картинкой, фотографией).⠀
                    <br>В немалой степени этому способствует и возможность индивидуального подбора драгоценных камней – бриллиантов, сапфиров, рубинов, изумрудов, украшающих ювелирные изделия, специально под конкретный заказ. Их индивидуальность подчеркнет уникальность ювелирного украшения.⠀
                    <br>🎈Каждому нашему заказчику обеспечивается индивидуальный подход. Наш ювелир всегда рад помочь воплотить в реальность Ваши идеи не только ручной работой, но и используя изготовление изделий при помощи 3D моделирования.⠀
                    ⠀<br><br>
                    <br>🎈На этапе 3D проектирования мы учитываем все последующие технологические особенности производства от деформации резиновой пресс-формы и восковок в результате «усадок» до закрепки камней и полировки⠀
                    <br><br><br>
                    ⠀

                    ФРЕЗЕРОВКА ВОСКА НА СТАНКЕ С ЧПУ
                            <br>🎈 Наша мастерская занимается 3D прототипрованием и фрезеровкой ювелирных изделий на высокоточном и профессиональном оборудовании.⠀
                    Используем в качестве расходного материала самый лучший воск новейшей разработки !
                    ⠀
                            <br><br>🎈Мы занимаемся:⠀
                                <br>▪3D моделированием ювелирных изделий любой сложности;⠀
                                <br>▪продажей 3D моделей;⠀
                                <br>▪продажей восковок;
                </p>
            </div>
        </div>
    </div>
</section>