<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Чистка ювелирных изделий</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Все мы любим блеск камней в ювелирных изделиях из золота, серебра или платины.<br> И все любители украшений сталкиваются с проблемой которая возникает при носке изделия.<br>  Грязь забивается под камни и внутрь изделия и в итоге камень перестает передавать игру света.<br>  При этом вытащить эту грязь от туда становиться практически не реально.<br>  По  этому в нашей ювелирной мастерской есть такая услуга - чистка ювелирных изделий. <br> <br>
                    Чистка изделия происходит при помощи ультразвуковой ванны - в ванной заполненной специально жидкостью и нагретой до нужной температуры происходит вибрация звука.<br>  При такой чистке ювелирного изделия из украшения выбивается все загрязнение.<br>  Ультразвук проникает во все микро щели изделия и вычищает всю грязь из ювелирного украшения.<br> Такой способ чистки, удаление грязи из изделия вернет былую яркость практически любому изделию.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images_service/chistka-yvelirnih-izdelii-masteruvelir.ru.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    <i>  Но помните, что в ультразвук ни в коем случаи нельзя опускать такие изделия как:</i>
                    <br><br>
                    Изделия с изумрудами - изумруд очень хрупкий камень и ультразвук расколет его пополам.
                    Изделия с клеенными элементами - жемчуг, стразы, перламутр и другие клеенные детали ультразвук выбьет со своих мест.
                    <br><br>

                    Ещё не маловажный плюс чистки ювелирных изделий в том, что во время работы ультразвука вылетают и плохо закрепленные камни. То есть получается некая проверка качества закрепки камня. И если камень должен был вылетить в скором будущем, то он вылетит ультразвуке, что позволит закрепить его сразу на месте.
                    Такая услуга по чистке ювелирных изделий в нашей мастерской стоит порядка 50 рублей, а при большом количестве изделий цена может подняться рублей до 200. Но самое главное, что мы чистим изделия в ультразвуке бесплатно когда осуществляем ремонт ювелирного изделия.
                </p>
            </div>
        </div>
    </div>
</section>