
<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Изготовление ювелирных изделий</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Cдавних времен задача изготовления ювелирных изделий на заказ лежит на плечах ювелиров и ювелирной мастерской Corall Jewelry.
                    <br>Они делают изделия для мужчин и женщин и даже детей во всем мире. Какие то технологии изготовления так и остались неизменны, а что то прогрессирует по сей день.
                    <br>По этому в данном разделе мы решили описать наши методы изготовления ювелирных изделий и разделили их на соответствующие разделы.
                    <br>Если все же у вас появятся какие либо вопросы, то вы можете смело писать нам на почту или позвонить по телефону который находиться вверху сайта и задать свой вопрос.
                </p>
            </div>

        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </div>
</section>
<section class="" id="" style="margin-top: 10%;">
    <div class="container-fluid mt-xl-5">
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_obrazov_i_ladanok_masteruvelir.ru_na_zakaz.jpg">
                        <h5 class="mt-4">Изготовление ладанок и образов</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_pomolvochnih_kolec_v_masteruvelir.ru_na_zakaz.jpg">
                        <h5 class="mt-4">Изготовление помолвочных колец</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_nagrydnix_znakov_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление нагрудных знаков</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_zaponok_na_zakaz_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление запонок</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_mygskih_kolec_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление мужских колец</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_obrychalnih_kolec_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление обручальных, свадебных колец</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_obrychalnih_kolec_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление женских колец</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_sereg_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление сережек</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_podvesok_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление подвесок</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_krestov_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление нательных крестов</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_brelokov_v_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление брелков</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_brasletov_v_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление браслетов</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_jenskih_broshei_v_masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление ювелирных брошей</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">

                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_izgotovlenie_zajimov_dla_galstyka_v_masteruvelir.ru_na_zakaz.jpg">
                        <h5 class="mt-4">Изготовление зажимов для галстука</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_syveniri-masteruvelir.ru.jpg">
                        <h5 class="mt-4">Изготовление сувениров</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 10%;">
    <p class="ml-5 pl-5" style="font-size: 20px;">
        <strong><text style="color:#c33;">Изготовление ювелирных изделий на заказ в нашем ювелирном ателье</text></strong>
        <br><br>
        <strong>Наша ювелирная мастерская-ателье предоставляет следующие услуги: </strong>
        <br><br>
        &nbsp&nbspИзготовление обручальных колец на заказ
        <br>&nbsp&nbspЭксклюзивные ювелирные украшения на заказ
        <br>&nbsp&nbspИзготовление браслетов на заказ
        <br>&nbsp&nbspИзготовление православных нательных крестов
        <br>&nbsp&nbspИзготовление крупных ювелирных изделий, предметов быта
        <br><br>
        Мы изготавливаем ювелирные изделия только из золота, серебра и латуни с драгоценными камнями и полудрагоценными. Бижутерные металлы и сплавы, вставки ненатурального происхождения не используются.
        <br><br>
        Наш основной конек — это срочное изготовление обручальных колец. Мы используем технологию комфортной посадки (comfort fit) при изготовлении обручальных колец. И рекомендуем покупать кольца именно с ней. Нося такое кольцо, вы практически не будете его замечать на руке, это особенно актуально для тех людей (в основном мужчин), которые никогда прежде не носили кольца, потому как они чаще всего испытывают дискомфорт при ношении обручальных колец. Обручальные кольца, изготовленные с комфортной посадкой легко одевать и снимать, они не сдавливают палец и практически неощутимы. Мы всегда поддерживаем базовые заготовки всех размеров для быстрого изготовления обручальных колец с вашими дизайнерскими предпочтениями.
        <br><br>
        <strong>Ювелирные изделия на заказ - Об изготовлении</strong>
        <br><br>
        Думаю, многие согласятся, что сегодняшний рынок ювелирных изделий представляет широчайший ассортимент украшений, но в тоже время у нас присутствует нескрываемое ощущение отсутствия разнообразия. Вроде бы украшения разные, но они одинаковы по стилю и содержанию. К сожалению, сегодня трудно найти на ювелирных прилавках и витринах то украшение, которое может подчеркнуть вашу индивидуальность, радовать тем, что оно подходит только вам, что оно особенное только для вас.
        <br><br>
        Для того чтобы вы могли создать для себя особенное ювелирное украшение, которое можно будет передать по наследству, и качество которого превысит все самые требовательные ожидания, мы и принимаем заказы на изготовление ювелирных изделий.
        <br><br>
        <strong>Чем наше ювелирное ателье отличается от других?</strong>
        <br><br>
        В первую очередь первоклассными ювелирами дизайнерами — настоящими мастерами своего дела, использующие различные техники ювелирного дела с опытом не в один десяток лет. Наша ювелирная мастерская обеспечена первоклассным оборудованием, позволяющее притворять в жизнь самые смелые и технически сложные дизайнерские идеи ювелира. Философией — основная наша цель превзойти ожидания заказчика. Мы считаем, что ювелирное изделие принадлежит человеку только в том случае, если они неотделимы. Когда трудно представить человека без этого украшения и в тоже время оно незаметно является его продолжением. Особенным ювелирное изделие становится только тогда! Когда мастер вложил в него свой труд — работу руками.
        <br><br>
        <strong>Как заказать ювелирное изделие правильно?</strong>
        <br><br>
        Для того чтобы ювелирное украшение стало эксклюзивным оно должно ассоциироваться с его владельцем. Эту задачу легче решить, если заказчик и будет его владельцем. Если же вы планируете подарить украшение, то стоит подумать, что может олицетворять будущего владельца, что он любит, каков его внутренний мир?
        Возможно, вам уже что-то нравится? – Принесите фотографии ювелирных изделий с собой или пришлите на электронную почту.
        Если у вас уже есть готовая идея дизайна, постарайтесь ее сформулировать как можно четче.
        Возможно у вас есть какие-то особые пожелания относительно материалов, необычные вставки? – Мы можем это реализовать, не стесняйтесь задавать вопросы.
        <br><br>
        <strong>Цена на заказ ювелирных изделий и сроки изготовления</strong>
        <br><br>
        Разумеется, цена и сроки зависят от сложности работ, их объема и, безусловно, от стоимости золота, драгоценных камней и других материалов которые будут использованы при изготовлении ювелирного изделия. Как правило, 2-3 недели достаточно, чтобы выполнить работу. В то же время, бывают и столь необычные модели ювелирных изделий, требующих в исполнении не только сложные ювелирные техники и большие трудозатраты, но инноваций в ювелирном деле. Исполнение таких заказов может длиться и до пары месяцев. Все сроки изготовления оговариваются заранее до начала работ. Со своей стороны также гарантируем, качество используемых материалов в изделиях (если заказчик не предоставляет свои). Часто изделия заказываются с высокой стоимостью материалов, и для своих клиентов мы всегда ищем драгоценные камни у поставщиков по выгодным ценам. Цена на материалы и работу разграничены и оговариваются заранее.
        <br><br>
        <strong> Почему так дорого и чем мы не занимаемся в изготовлении</strong>
        <br><br>
        К нам нередко обращаются клиенты с просьбой изготовить ювелирные украшения «подешевле» предоставляя изображения товаров таких фирм как Sunlight или Valtera с кричащими рекламными заголовками: «Кольцо из золота +100500 бриллиантов со скидкой 99% спешите купить за 2 999руб.!», таким клиентам отказываем. Будем реалистами, надо понимать, что такое кольцо весит всего пару грамм из золота 375 пробы, которое раньше использовалось в изготовлении предметов быта: подсвечники, портсигары и т.п. Сейчас производители в ценовой конкуренции пытаются экономить на всем, не редко можно встретить даже обручальные кольца 375 пробы. А про бриллианты вообще говорить нечего, ведь они имеют всего 17 граней вместо современной огранки 57 граней. Бриллианты кр17 имеют иную шкалу оценки качества, нежели кр57. Если вы видите кр17 с характеристиками хуже 1\1 это, скорее всего мусор. Такие бриллианты идут практически в одной цене с качественными фианитами. Кроме всего прочего надо всегда помнить, что изготовление новой модели затратное мероприятие, и оно не стоит дешевле 5-8 тыс. руб.
        <br><br>
        <strong>Мы всегда рады вам помочь!</strong>
        <br><br>
        Если вам нужна какая-либо консультация, совет или помощь — рады помочь! Звоните и задавайте свои вопросы, консультации по изготовлению ювелирных изделий бесплатны.
    </p>
</section>
