
<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Изготовление копии ювелирных изделий</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Изготовление копии ювелирных изделий на заказ, как не странно является распространённой услугой ювелирных мастерских.
                    <br>И в этом есть большие плюсы для клиента. Ведь бывают изделия теряются, а они вам так сильно нравились и приносили радость…
                    <br> Или вам понравилось изделие из коллекции музея или на какой нибудь знаменитости или даже из фильма или может из игры и вам уж очень сильно хочется именно такое изделие.
                    <br>Вот тогда и приходит на выручку такая полезная услуга, как изготовление копии ювелирного изделия.
                    <br>  <br>
                </p>
            </div>

        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center">
            <img src="~/images_service/izgotovlenie kopii izdelii v masteruvelir.ru.jpg" />
        </div>
        <div class="row justify-content-center align-items-center">
            <p class="ml-5 pl-5" style="font-size: 20px;">
                <i>
                    Что можно скопировать? да в принципе все, что угодно! Ну, а для наглядности мы привели список.
                </i>
            </p>
        </div>
        <div class="row justify-content-center align-items-center">
            <p class="ml-5 pl-5" style="font-size: 20px;">
                Копию утерянной серьги – очень частая просьба клиентов
                <br><br>

                Копию утерянной запонки – ведь запонки тоже теряются
                <br><br>

                Копию любимой подвески – у вас есть подвеска и вы хотите подарить такую же своему ребенку?
                <br><br>

                Копию кольца знаменитости – вы видели кольца у Анжелины Джоли?
                <br><br>

                Копию нагрудного креста – был утерян или захотели такой же сделать детям.
                <br><br>

                Копию изделия из фильма – допустим из Властелина Колец.
                <br><br>

                Копию изделия из Игры – допустим кольца из World of Warcraft
                <br><br>

                Копию нагрудного ордена – может вы захотели себе такой же
                <br><br>

                Копию части изделия – допустим, у вас есть кольцо, а вы хотите сделать к ним комплект серег и подвеску, а может даже и браслет.
                <br><br>

                Копию фамильного герба – времена идут, изделия стареют и хочется чего- то нового с небольшими изменениями от старого.
                <br><br>

                Копию  медали – возможно, вам понравилась форма, и вы хотите сделать оригинальный подарок, но со своими пожеланиями.
                <br><br>

                Копию корпуса для часов – у вас есть свой механизм, а внешний вид часов уже не радует и присмотрели, что то лучше.

            </p>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </div>
</section>

<section class="" id="" style="margin-top: 5%;">
    <div class="container-fluid mt-xl-5">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Как же этот процесс происходит ?</h2>
        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/2.jpg">

                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/3.jpg">

                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/4.jpg">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <p class="ml-5 mt-5 pl-5" style="font-size: 20px;">
            Ваше изделие кладут в железную форму, на дне которой лежит специальная резина.
            <br><br>

            Сверху ваше изделие обкладывают максимально плотно такой же резиной, как и на дне формы.
            <br><br>

            Когда резина разложена, то на неё начинает давить железный пресс при этом, он нагревает резину, что бы она растеклась по всему изделию.
            <br><br>

            После того как резиновая форма готова, её аккуратно разрезают на  две части и вынимают копированное изделие.
            <br><br>

            Теперь, когда резиновая форма готова, в неё под давлением заливают горячий воск.
            <br><br>

            Снова резиновая форма раскрывается и внутри неё теперь готовая восковая модель копируемого изделия.

        </p>
    </div>
    <div class="row justify-content-center align-items-center mt-5 mb-5">
        <img src="~/images/reviews-bg2.png" />
    </div>
</section>

