<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Ремонт ювелирных украшений</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Ремонт ювелирных изделий и украшений одна из основных услуг<br> нашей ювелирной мастерской в Оренбурге<strong> Corall Jewelry</strong>.<br> Сломанные ювелирные изделия – это всегда неприятно, они пылятся и не  дарят вам радость, ведь некоторые из них хранят память о счастливых моментах  жизни.<br> Мы готовы качественно отремонтировать ваши  драгоценные изделия, чтобы добавить в вашу жизнь больше блеска и радости.
                </p>
            </div>

        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </div>
</section>

<section class="" id="" style="margin-top: 10%;">
    <div class="container-fluid mt-xl-5">
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_yvelichenie-kolec-masteruvelir.ru.png">
                        <h5 class="mt-4">Увеличение колец</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_ymenshenie-razmera-kolca-masteruvelir.ru.jpg">
                        <h5 class="mt-4">Уменьшение колец</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_remont-kolec-masteruvelir.ru.jpg">
                        <h5 class="mt-4">Ремонт колец</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_1angl.jpg">
                        <h5 class="mt-4">Ремонт сережек</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_polirovka-yvelirnih-izdelii.jpg">
                        <h5 class="mt-4">Полировка ювелирных изделий</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_shtift-v-serge-masteruvelir.ru.jpg">
                        <h5 class="mt-4">Ремонт штифтовых изделий</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_remont-zolotogo-brasleta-,asteruvelir.ru.jpg">
                        <h5 class="mt-4">Ремонт браслетов</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_remont-zamkov.jpg">
                        <h5 class="mt-4">Ремонт замков</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block " src="~/images_service/r157c157_remont-cepochek.jpg">
                        <h5 class="mt-4">Ремонт цепочек</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="margin-top: 10%;">
    <p class="ml-5 pl-5" style="font-size: 20px;">
        <i>К наиболее распространенным видам ремонта ювелирных изделий относятся:</i>
        <br><br>
        <strong>1. Пайка.</strong>
        <br><br>
        Как правило, пайку осуществляют для браслетов, замочков и цепочек. При этом с  помощью драгоценных металлов выполняется спайка разрыва или слома. Если  замочек сломан и восстановлению не подлежит, то мы его просто заменим  идентичным. При спайке очень тщательно подбирается металл, чтобы не было  заметно место ремонта. Мы гарантируем, что после ремонта, вы сами не найдете  место разрыва в цепи, не зависимо от того какого бы сплетения она не  была.
        <br><br>
        <strong>2. Закрепка камня.</strong>
        <br><br>
        Когда вы приобретаете новое ювелирное украшение, вы настолько ослеплены его  красотой и сиянием, что забываете проверить качество закрепки камня. И очень  часто к нам обращаются закрепить камень в новом украшении. Если вы утеряли  камень из изделия, наши мастера подберут такой же камень или другой по вашему  желанию.
        <br><br>
        <strong>3. Ремонт колец.</strong>
        <br><br>
        Кольцо обязательно должно быть впору. Оно не должно болтаться на пальце, но и  не должно его стягивать, именно тогда оно будет украшать ваши прелестные руки  и пальчики. Наши мастера быстро и качественно уменьшат или увеличат размер  кольца. Не стоит хранить семейные украшения в ларцах, только потому, что они  не подходят вам по размеру, мы сделаем работу аккуратно и красиво, и вы  будете гордо носить семейную реликвию. Так же, если ваше кольцо потеряло  блеск или на нем появились царапины, мы быстро устраним этот дефект, и кольцо  будет выглядеть как новое.
        <br><br>
        <strong> 4. Ремонт ушка креста или кулона.</strong>
        <br><br>
        Многие не понимают, как так получилось, что цепочка на месте, а кулон  потерялся. Дело в том, что со временем ушко кулона или крестика стирается. В  нашей мастерской быстро исправят ушко украшения, и вы вновь наденете свой  талисман.
        <br><br>
        Наша ювелирная мастерская возвращает былую красоту любым изделиям из  драгоценных камней и металлов.
        <br><br>
        Работая многие годы с ювелирными изделиями, мы стали знать о них все! И хотим поделится с Вами небольшими секретами!  Как сохранить украшения и как продлить его срок службы, не прибегая к помощи специалистов:
        <br><br>
        старайтесь избегать контакта замков браслетов и цепочек с водой;
        вес кулона или крестика на цепочке не должен быть тяжелее самой цепи или  браслета;
        перед сном обязательно снимайте украшения;
        избегайте контакта украшений с косметикой, например, с духами или кремами;
        старайтесь в холодное время года не носить украшения с камнями.
        <br><br>
        Обращаясь к нам за ремонтом ювелирных изделий, вы можете быть  уверены, что работу будет выполнять специалист, который знает все о  драгоценных металлах и камнях. Ваше украшение вернется к вам целостным и в  прекрасном состоянии. Мы работаем быстро, качественно и надежно. Наша ювелирная мастерская всегда дарит радость и счастье нашим клиентам.
        <br><br>
        В неё входит починка ювелирных украшений любого вида и сложности. Сережки, кольца, браслеты, цепи, подвески, кулоны, колье, печатки, перстни, пирсинг, броши и многие другие ювелирные изделия в нашей мастерской вам всегда отремонтируют. Цены на ремонт ювелирных украшений зависят от сложности и вида изделия. Многие изделия мы чиним с помощи пайки огнем, а если в изделии использование огня запрещено, то мы используем лазерную пайку. И все это не мешает нам быть на 5 месте среди самых низких цен на ремонт ювелирных изделий в Москве.
    </p>
</section>