<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Гравировка изделий</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    🎈 Наша мастерская занимается 3D прототипрованием и фрезеровкой ювелирных изделий на высокоточном и профессиональном оборудовании.⠀
                   <br> Используем в качестве расходного материала самый лучший воск новейшей разработки !
                </p>
            </div>

        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images_service/masterbus.jpg" />
        </div>
        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    🎈Мы занимаемся:⠀
                    <br> ▪3D моделированием ювелирных изделий любой сложности;⠀
                    <br> ▪продажей 3D моделей;⠀
                    <br> ▪продажей восковок;
                    <br>В БЛОК ГРАВИРОВКА
                    <br><br>
                    🎈Находитесь в поиске эксклюзивного подарка? ⠀⠀
                        <br><br>⠀⠀
                    🎈Желаете, чтобы на сувенире была тематическая надпись или изображение? ⠀⠀
                    ⠀⠀<br><br>
                    🎈В нашей мастерской Вы можете заказать гравировку на подарке!⠀⠀
                    ⠀⠀<br><br>
                          <br>🔺С нанесением гравировки изделие обретает оригинальность и эксклюзивность. ⠀⠀
                          <br>🔺Нанести неповторимое гравирование мы можем почти на любую поверхность: металлическую, пластиковую, из камня, серебра и золота, на стекло.⠀
                          <br>🔺Если Вы уже приобрели сувенирный презент, но желаете сделать его креативным, смело обращайтесь к нам! ⠀⠀
                          <br>Мы с радостью воплотим Ваш проект в жизнь или предложим уже разработанные варианты. Если необходимо, дадим совет, какой текст либо изображение стоит нанести.⠀
                    ⠀<br><br>
                    🎈Чем особенны подарки с гравировкой?⠀
                    ⠀⠀⠀<br><br>
                    🔺Это уникальные персонализированные вещи, список которых бесконечен. Предмет, на который будет нанесён текст, может быть оригинальным и непредсказуемым. На чем только неприходилось делать гравировку). И бывает, несут очень необычные вещи. Например, приносили кирпич!)))⠀
                    ⠀<br><br>⠀
                         <br>🎈Уникальная рельефная гравировка делается исключительно вручную. Ни один алмаз, ни самое современное лазерное оборудование не сможет повторить такую работу!⠀⠀⠀⠀
                         <br>🎈Да, на фото предметы с ручной и механической гравировкой могут выглядеть одинаково, но разница ощутимая! ⠀⠀⠀⠀
                         <br>🎈Только вручную можно сделать действительно глубокую гравировку. При использовании алмаза или лазера она затирается, рельеф исчезает, линии получаются неглубокими с мелкими зазубринами. ⠀⠀⠀⠀
                         <br>🎈При ручной гравировке общий вид изделия совершенно другой: картинка или надпись имеют отличный рельеф и дают интересный блеск при попадании солнечных лучей.⠀
                    ⠀<br><br>
                         🎈Также в нашей мастерской вы можете сделать гравировку на армейском жетоне.⠀
                    ⠀⠀<br><br>
                    🔺Наша мастерская с радостью выполнит оригинальную гравировку любой сложности!⠀⠀
                    ⠀⠀⠀⠀<br><br>
                    ❤ПОДАРКИ С ГРАВИРОВКОЙ - ЭТО ПАМЯТЬ НА ДЕСЯТКИ ЛЕТ .
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </div>
</section>

@*<section class="" id="" style="margin-top: 10%;">
    <div class="container-fluid mt-xl-5">
        <div class="row">
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last  ">
                        <img class="d-block mcircle shadow1dp" width="200" height="200" src="~/images_service/masteruvelir1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item  active">
                    <div class="container-product-last  ">
                        <img class="d-block mcircle shadow1dp" width="200" height="200" src="~/images_service/masteruvelir2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active ">
                    <div class="container-product-last  ">
                        <img class="d-block mcircle shadow1dp" width="200" height="200" src="~/images_service/masteruvelir5.jpg">
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="carousel-item active  ">
                    <div class="container-product-last ">
                        <img class="d-block mcircle shadow1dp" width="200" height="200" src="~/images_service/masteruvelir4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section style="margin-top: 10%;">
    @*<p class="ml-5 pl-5" style="font-size: 20px;">
        1 - Если ваши бусы будут длинной 50см то отмеряете 120см нити и продеваете через иглу выставив её ровно по середине (это даст вам двойную нить, а значит бусы будут крепче), а если сделаете 220см то у вас будет четверная нить, что даст ещё больше надежности (если на это позволяет диаметр отверстий бусин)
        <br><br>2 - Берете запаянное кольцо (кольцо в котором нет разрыва,  иначе нить просто выскочит из кольца) и завязываете на нем узел, так что бы, он получился за 5см до конца нити. На это кольцо вы потом будете закрывать замок.
        <br><br>3 - Начинаете нанизывать бусины одну за другой на нить через иглу (это может занять довольно много времени.... и быть причиной исколотых иголкой пальцев)
        <br><br>4 - Нанизав все бусины на нить вам нужно взять замок и продеть через кольцо замка (  У замков есть кольцо у основания, но вешать на него будет не эстетично. По этому у основания замка  должно висеть ещё одно замкнутое кольцо) и  повторить так 2 раза натянув при этом все бусины,  этим вы исключите провисание бус.  Затем снова пустить иглу в бусину если, это позволяет отверстие бусин. И завязать узелок выйдя из первой бусины.

        Если обратно в бусины игла не идет, то завяжите пару узлов сразу на замке.
        Если игла прошла обратно в бусины, то завяжите узел после первой бусины.
        Если есть желание и позволяет длина нити, то можете пронизать нить в обратном направлении, и завяжите последний узел у первого кольца с которого и началась столь не сложная, но выматывающая работа.

        <br><br>5 - После того как бусы собраны и узлы завязаны, то аккуратно капните чуть чуть супер клея на узлы. Именно ЧУТЬ ЧУТЬ, а то вы можете испортить всю композицию склеив их большим количества клея. После чего отрежьте лишнюю нить у основания узла без боязни того, что он может развязаться.
        <br><br>6 - Вы молодец ! Вы сделали это ! но скорей всего Вы потеряли очень много времени... так как не имели практики. А время это самое дорогое, что у нас есть в этой жизни.
    </p>*@
</section>