<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Закрепка камней</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Закрепка, вставка камней одна из популярных услуг любой ювелирной мастерской.<br> Очень часто камни вылетают из колец, серег, подвесок, браслетов, колье и т.д. и причиной может быть не только не аккуратная носка изделия из-за которой лапки держащие камень были отогнуты, а просто обычный брак в украшении.<br>  Так как изделия для магазинов делаются на заводах, а там идут большие потоки изготовления, то часто люди просто не успевают уследить за качеством производимого изделия. <br> В итоге счастливый обладатель ювелирного изделия теряет камень и не знает что делать.
                    <br> <br> Часто в магазинах есть гарантия - Вам просто нужно принести и отдать изделие на экспертизу и если экспертиза покажет, что это был брак завода, то камень Вам вставят бесплатно. Но если гарантии нет или гарантийный срок изделия закончился, то Мы с радостью Вам поможем.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img class="mcircle shadow2dp" src="~/images_service/zakrepka kamnei.gif" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    <strong><I>Цена за работу по закрепки, вставки камня:</I></strong>
                    <br><br>
                    Фианиты и синтетика до 5мм - от 50 до 150 рублей
                    <br> Полудрагоценные камни до 5мм - от 50 до 300 рублей
                    <br>Драгоценные камни до 3мм - от 100 до 500 рублей
                    <br> Остальные виды камней по договоренности
                    <br><br><strong><I>Если камень не был утерян </I></strong>
                    <br> <br>
                    Мастер оценивает сложность закрепки - если проблема решаема на месте, то крепит камень обратно.
                    <br>Мастер оценивает сложность закрепки - если проблема не решаема на месте, то изделие придется оставить на 1 - 3 дня.

                </p>
            </div>
        </div>
    </div>
</section>