<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Эмалирование и гальваника</h2>
        </div>

        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Гальванизация — нанесение одного варианта металла на другой при помощи погружения в среду электролита.
                    <br>В ювелирном мастерстве нередко используют напыление золотом, серебром, родием и золотыми сплавами.
                    <br>Цель использования методики — украшение и декорация готового изделия, а также повышение устойчивости к механическим повреждениям и продление блеска благородных металлов.
                    <br>Самый распространенный вид гальванического покрытия в ювелирном деле — родирование, золочение и оксидирование.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img class="mcircle shadow2dp" src="~/images_service/galvanika.jpg" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-start">
            <div class="col-xl">
                <p class="ml-5 pl-5" style="font-size: 20px;">
                    Ювелирная эмаль известна еще со времен Древней Руси. Тогда она имела другое название, но принцип ее нанесения остался тем же.
                    <br><br>
                    Ювелирная эмальФинифть использовали как в ювелирном, так и в декоративно-прикладном искусстве.
                    <br>Ею украшали богатую утварь: кубки, ларцы, чаши. Хотя прошло много веков, а технологии претерпели изменения, но свойства эмали все также высоко ценятся мастерами-ювелирами.
                    <br>Данный вид покрытия является ручной работой, даже если само драгоценное украшение отштамповано по заводским стандартам. Процесс эмалирования представляет собой покрытие поверхности драгоценного металла легкоплавким стеклом.
                    Эмали различают по составам и способам нанесения.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img class="mcircle shadow2dp" src="~/images_service/gH01sBH4awE.jpg" />
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </div>
</section>